body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Segoe UI', sans-serif;
}

#prawa_strona{
    position: right;
    width:50%;
}

#lewa_strona{
    position: right;
    width:50%;
}

.selectors {
    display:flex;
    background-color: #1E1E1E;
    gap: 10px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.selectors2 {
    display:flex;
    background-color: #1E1E1E;
    gap: 10px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

select {
    background-color: #1E1E1E;
    color: #E0E0E0;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
}

    select:focus {
        outline: none;
        border-color: #2196F3;
        box-shadow: 0 0 5px #2196F3;
    }

h1 {
    color: #2196F3;
    text-align: center;
}

canvas {
    background-color: #1E1E1E;
    border-radius: 12px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
